*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nexa-Bold';
    src: url(fonts/Nexa\ Bold.otf);
    font-size: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'Nexa-Regular';
    src: url(fonts/Nexa\ Regular.otf);
    font-size: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Nexa-Light';
    src: url(fonts/Nexa\ Light.otf);
    font-size: normal;
    font-weight: 700;
}

html, body{
    background-color: #F5F7FF;  
    
}

.container{
    border: 1px solid green;
}

.header{
    /* border: solid; */
    text-align: center;
    padding-top: 50px;
    position: relative;
    width: 100%;
}
.header .logo{
    max-width: 50%;
    height: 80px;
    object-fit: contain;

}

.decor-one{
    width: 50px ;
    height: 50px;
    position: absolute;
    left:150px;
    top: 90px;
}

.decor-two{

    width: 50px ;
    height: 50px;
    position: absolute;
    right:600px;
    top: 200px;

}

.contain {object-fit: contain;}

.hero{
    /* border: solid 1px red; */
    width: 100%;
    height: 528px;
    margin-top: 100px;
    position: relative;
}

.hero .background-logo{
    width: 214px;
    height: 528px;
    /* border: 1px solid blue; */
    background-image: url("./assets/Logo\ Icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-top: 35px;
}

.background-logo h4{
    font-family: Nexa-Bold;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    width: 519px;
    height: 168px;
}

.background-logo h4 span{
    color: #4F76F7;
    
}

.background-logo p{
    font-family: Nexa-Regular;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    width: 595px;
    height: 211px;
    margin-top: 20px;
}

.background-logo p span{
    color: #4F76F7;
}


.hero-image-one{
    position: absolute;
    /* width: 406px;
    height: 406px; */
    width: 463px;
    height: 554px;
    top: -100px;
    right: 0px;
    
}

.hero-image-two{
    position: absolute;
    top: 70px;
    right: 220px;
    /* width: 406px;
    height: 406px; */
    
}

.decor-three{

    width: 50px ;
    height: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 500px;

}

.decor-four{

    width: 70px ;
    height: 70px;
    position: absolute;
  
    left: 100px;
    top: 600px;
}

.decor-five{

    width: 150px ;
    height: auto;
    position: absolute;
  
    right: 50px;
    top: 450px;
}

.subscribe-section{
    /* border: solid; */
    width: 100%;
    height: auto;
    margin-top: 150px;
    /* padding: 0px 65px; */

}

.subscribe-box{
    background-color: #18222B;
    border-radius: 0px 80px;
    padding: 0px 50px;
    width: 91.5%;
    height: 511px;   
     margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./assets/Group\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 167px 196px;
    background-position: 50% 10%;
}

.subscribe-box h5{
    font-family: Nexa-Regular;
    font-style: normal;
    font-size: 48px;
    line-height: 30px;
    width: 652px;
    height: 62px;
    color: white;
}

.subscribe-box p{

    font-family:Nexa-Light;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    width: 675px;
    height: 56px;
    color: white;
    margin-bottom: 30px;


}
.form{
    width: 100%;
}

.form input{
width: 345px;
height: 56px;
background: #FFFFFF;
border: 1px solid #4F76F7;
border-radius: 10px;
padding: 19px 16px;
outline: none;

}

.form input::placeholder{

font-family: Nexa-Light;
font-size: 16px;
line-height: 19px;
color: #000000;
opacity: 0.6;

}

.form button{

width: 180px;
height: 56px;
background: #4F76F7;
border-radius: 10px;
padding: 19px 10px;
color: white;
border: none;

}
.form button:hover{
    cursor:pointer;
    background: #7a95eb;
}

.bottom-patterns{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.bottom-left{
   position: absolute;
   right:500px;
   top: 55px; 
   opacity: 0.5;
}

.bottom-right{
   position: absolute;
   left:500px;
   top: 30px; 

}

.top-patterns{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.top-left{
   position: absolute;
   right:500px;
   bottom: 0px; 
}

.top-right{
   position: absolute;
   left:500px;
   bottom: 60px; 

}


.footer{
    /* border: solid; */
    width: 100%;
    margin: 50px 0px;
    text-align: center;
    /* position: fixed;
    bottom: 0; */
 
}

.mobile-top-patterns{
    display: none;
}

.mobile-bottom-patterns{
    display: none;
}



.footer .top-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    /* width: 90%; */
    /* margin: auto; */

}
.footer-text{
    text-align: center;
    font-family: Nexa-Regular;
    font-size: 16px;
    line-height: 19px;
    /* width: 703px; */
    height: fit-content;
    /* border: solid; */
    margin-left: 10%;
}

.contact{
   
    display: flex;

}

.contact p {

    font-family: Nexa-Regular;
    font-size: 16px;
    line-height: 19px;
    width: 90px;
    height: 20px;
}

.contact ul{
    /* display: flex;
    flex-direction: row; */
    list-style: none;
    /* justify-content: space-between; */
    /* border: solid; */
}
.contact ul li{
    display: inline-block;
    padding: 0px 10px;

}

.bottom-footer p{
width: 350px;
height: 20px;
font-family: Nexa-Light;
font-size: 16px;
line-height: 19px;
/* border: solid; */
margin: auto;
}



@media only screen and (max-width: 1440px) {


    .decor-one {
        left: 50px;
  
      }

    .decor-two{
     
        top: 150px;  
        right:0px;

    }


}

@media only screen and (max-width: 1392px) {


    .decor-one {
        left: 50px;
  
      }

    .decor-two{
     
        top: 150px;  
        right:0px;

    }

    .hero-image-one{
        position: absolute;
        width: 500px;
        height: 500px;
        /* width: 463px;
        height: 554px; */
        top: -100px;
        right: 0px;
        
    }
    
    .hero-image-two{
        position: absolute;
        top: 70px;
        right: 220px;
        width: 500px;
        height: 500px;
        
    }

    .bottom-left{
        position: absolute;
        right:350px;
        top: 55px; 
        opacity: 0.5;
     }
     
     .bottom-right{
        position: absolute;
        left:400px;
        top: 30px; 
     
     }
     
     .top-patterns{
         display: flex;
         justify-content: space-around;
         position: relative;
     }
     
     .top-left{
        position: absolute;
        right:400px;
        bottom: 0px; 
     }
     
     .top-right{
        position: absolute;
        left:400px;
        bottom: 70px; 
     
     }


}



@media only  screen and (max-width:1300px){
    
    .hero-image-one{
        position: absolute;
        /* width: 406px;
        height: 406px; */
        width: 463px;
        height: 554px;
        top: -100px;
        right: 0px;
        
    }
    
    .hero-image-two{
        position: absolute;
        top: 70px;
        right: 220px;
        /* width: 406px;
        height: 406px; */
        
    }
}


@media only screen and (max-width:1350px){
      
    .hero{
       
        width: 100%;
        /* border: 1px solid red; */
 
         
     }
 
     .decor-three{
         margin-left: 0;
         margin-right: 0;
         left: 30px;
         right: 0;
         top: 500px;
     
     }
 
     .decor-four{
         display: none;
     }
 
     .decor-five{
         width: 200px ;
         position: absolute;
         height: auto;
         right: 150px;
         top: 790px;
         z-index: 0;
     }
 
     .subscribe-section{
         margin-top: 500px;
     }
 
     .background-logo{
         padding-left: 40px !important;
         padding-right: 40px !important;
        text-align: center;
         width: 100% !important;
         /* border: solid; */
         background-image: none !important;
     }
 
     .hero-image-two{
         top: 500px;
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         display: block;
         height: auto;
         max-width: 100%;
         width: 475px;
         z-index: 3;  
      }
 
 
 
     .background-logo h4{
       
         font-size: 45px;
         line-height: 120%;
         width: 100%;
         height: 168px;
     }
     
     .background-logo p{
         font-size: 20px;
         line-height: 30px;
         width: 100%;
         height: 211px;
         margin-top: 20px;
     }

     .bottom-left{
        right:250px;
        top: 55px; 
     }
     
     .bottom-right{
        left:250px;
        top: 30px; 
     
     }
     
     
     .top-left{
        right:250px;
        bottom: 0px; 
     }
     
     .top-right{
        left:250px;
        bottom: 60px; 
     
     }
 
    
 
     
     
       .hero-image-one{
         display: none;
       }
 
 
 
       .subscribe-box h5{
        
        font-size: 45px;
        line-height: 30px;
        width: 100%;
        height: 62px;
    }
    
    .subscribe-box p{
    
     
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        height: 56px;
        margin-bottom: 30px;

    
    
    }
    


        .footer .top-footer{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-bottom: 20px;
           gap: 20px;
           /* width: 90%; */
           /* margin: auto; */
       
       }
   
       .contact{
      
           display: flex;
           margin-left: 8%;
       }

       
      
}


@media only screen and (max-width: 912px) {

    
    .hero{    
       width: 100%;
       /* border: 1px solid red; */ 
    }

    .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 500px;
    
    }

    .decor-four{
        display: none;
    }

    .decor-five{
        width: 200px ;
        position: absolute;
        height: auto;
        right: 150px;
        top: 790px;
        z-index: 0;
    }

    .bottom-left{
        right:200px;
        top: 50px; 
     }
     
     .bottom-right{
        left:200px;
        top: 30px; 
     
     }
     
     
     .top-left{
        right:200px;
        bottom: 0px; 
     }
     
     .top-right{
        left:200px;
        bottom: 60px; 
     
     }

    .subscribe-section{
        margin-top: 500px;
    }

    .background-logo{
        padding-left: 40px !important;
        padding-right: 40px !important;
       text-align: center;
        width: 100% !important;
        /* border: solid; */
        background-image: none !important;
    }

    .hero-image-two{
        top: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 475px;
        z-index: 3;  
     }



    .background-logo h4{
      
        font-size: 48px;
        line-height: 120%;
        width: 100%;
        height: 168px;
    }
    
    .background-logo p{
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        height: 211px;
        margin-top: 20px;
    }

   

    
    
      .hero-image-one{
        display: none;
      }


    .subscribe-box h5{
       
        font-size: 48px;
        line-height: 30px;
        width: 100%;
        height: 62px;
    }
    
    .subscribe-box p{
    
     
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        height: 56px;
        margin-bottom: 30px;

    
    
    }
    
    /* .form input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }

    .form button{

        width: 100%;
        
        } */


        .contact{
   
            margin-left: 0% !important;
        }
    
        .footer-logo{
            margin-left: 0% !important;
        }
        .bottom-footer p{
            margin-left: 0% !important;
            width: 100%;
        }
  

        .footer-text{
            font-size: 15px;
            width: 100%;
            margin-left: 0% !important;
        }

 

}

@media only screen and (max-width: 820px) {

    
    .hero{
       
       width: 100%;
       /* border: 1px solid red; */

        
    }

  
    .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 500px;
    
    }

    .decor-four{
        display: none;
    }

    .decor-five{
        width: 200px ;
        position: absolute;
        height: 200px;
        right: 150px;
        top: 790px;
        z-index: 0;
    }

    .subscribe-section{
        margin-top: 500px;
    }

    .background-logo{
        padding-left: 40px !important;
        padding-right: 40px !important;
       text-align: center;
        width: 100% !important;
        /* border: solid; */
        background-image: none !important;
    }

    .hero-image-two{
        top: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 475px;
        z-index: 3;  
     }


     .bottom-left{
        right:200px;
        top: 20px; 
     }
     
     .bottom-right{
        left:200px;
        top: 20px; 
     
     }
     
     
     .top-left{
        right:200px;
        bottom: 0px; 
     }
     
     .top-right{
        left:200px;
        bottom: 50px; 
     
     }



    .background-logo h4{
      
        font-size: 48px;
        line-height: 120%;
        width: 100%;
        height: 168px;
    }
    
    .background-logo p{
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        height: 211px;
        margin-top: 20px;
    }

   

    
    
      .hero-image-one{
        display: none;
      }



    .subscribe-box h5{
       
        font-size: 5vw;
        line-height: 30px;
        width: 100%;
        height: 62px;
    }
    
    .subscribe-box p{
    
     
        font-size: 2.7vw;
        line-height: 25px;
        width: 100%;
        height: 56px;
        margin-bottom: 30px;

    
    
    }
    
    .form input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }

    .form button{

        width: 100%;
        
        }


        .contact{
   
            margin-left: 0% !important;
        }
    
        .footer-logo{
            margin-left: 0% !important;
        }
        .bottom-footer p{
            margin-left: 0% !important;
            width: 100%;
        }
  

        .footer-text{
            font-size: 15px;
            width: 100%;
            margin-left: 0% !important;
        }

 

}

@media only screen and (max-width: 769px) {

    
    .hero{
       
       width: 100%;
       /* border: 1px solid red; */

        
    }

    .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 500px;
    
    }

    .decor-four{
        display: none;
    }

    .decor-five{
        width: 200px ;
        position: absolute;
        height: 200px;
        right: 150px;
        top: 790px;
        z-index: 0;
    }

    .subscribe-section{
        margin-top: 500px;
    }

    .background-logo{
        padding-left: 40px !important;
        padding-right: 40px !important;
       text-align: center;
        width: 100% !important;
        /* border: solid; */
        background-image: none !important;
    }

    .hero-image-two{
        top: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 475px;
        z-index: 3;  
     }


     .bottom-left{
        right:120px;
        top: 20px; 
     }
     
     .bottom-right{
        left:130px;
        top: 20px; 
     
     }
     
     
     .top-left{
        right:130px;
        bottom: 0px; 
     }
     
     .top-right{
        left:130px;
        bottom: 50px; 
     
     }



    .background-logo h4{
      
        font-size: 6vw;
        line-height: 120%;
        width: 100%;
        height: 168px;
    }
    
    .background-logo p{
        font-size: 3vw;
        line-height: 30px;
        width: 100%;
        height: 211px;
        margin-top: 20px;
    }

   

    
    
      .hero-image-one{
        display: none;
      }

      .subscribe-box{
        padding: 0px 20px;
     }


    .subscribe-box h5{
       
        font-size: 5vw;
        line-height: 30px;
        width: 100%;
        height: 62px;
    }
    
    .subscribe-box p{
    
     
        font-size: 2.7vw;
        line-height: 25px;
        width: 100%;
        height: 56px;
        margin-bottom: 30px;

    
    
    }
    
    .form input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    }

    .form button{

        width: 100%;
        
        }


        .contact{
   
            margin-left: 0% !important;
        }
    
        .footer-logo{
            margin-left: 0% !important;
        }
        .bottom-footer p{
            margin-left: 0% !important;
            width: 100%;
        }
  

        .footer-text{
            font-size: 15px;
            width: 100%;
            margin-left: 0% !important;
        }

 

}

@media only screen and (max-width: 570px) {
    .header{
        padding: 40px 0px 0px 0px;
    }

    .subscribe-box{
        border-radius: 0px 30px;
    }

    .decor-one {
      width: 50px ;
      height: 50px;
      left: -20px;
      top: 90px;

    }
    .decor-two{
        top: 100px;  
        right:0px;
    }

    .hero{
       
        margin-top: 0px;
        padding-left:20px;
        padding-right: 20px;
        /* border: solid; */
        
    }

    .bottom-left{
        right:100px;
        top: 20px; 
     }
     
     .bottom-right{
        left:100px;
        top: 20px; 
     
     }
     
     
     .top-left{
        right:100px;
        bottom: 0px; 
     }
     
     .top-right{
        left:100px;
        bottom: 50px; 
     
     }


    .hero .background-logo{
        width: 100%;
        text-align: center;
        background-image: url("");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }

    .background-logo h4{
        max-width: 100%;
        height: 102px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        flex-shrink: 0;
    }

    .background-logo p{
        max-width: 100%;
        margin-top: 30px;
        height: 331px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        flex-shrink: 0;

    }

    .hero-image-one{
        display: none;
         
     }
     
     .hero-image-two{
        
    
        top: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 375px;
        z-index: 3;
        
     }

     .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 500px;
    
    }

    .decor-four{
       display: none;
    }

    .decor-five{
        width: 100px ;
        position: absolute;
        height: auto;
        right: 0px;
        top: 740px;
        left: 300px;
        z-index: 0;
        
    }
    /* .decor-five-mobile{
        background-image: url("assets/mobile-union.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 121.05px;
        height: 149.26px;
        left: 300.13px;
        top: 700px;
        z-index: 0;
  
    } */
    .subscribe-box{
        padding: 0px 20px;
     }

    .subscribe-section{
        margin-top: 400px;
        
    }

    .footer-text{
           
        line-height: 25px;
        /* margin-bottom: 25px; */
 
    }


}

@media only screen and (max-width: 480px) {
    .header{
        padding: 40px 0px 0px 0px;
    }

    .subscribe-box{
        border-radius: 0px 30px;
    }

    .decor-one {
      width: 50px ;
      height: 50px;
      left: -20px;
      top: 90px;

    }
    .decor-two{
        top: 100px;  
        right:0px;
    }

    .hero{
       
        margin-top: 0px;
        padding-left:20px;
        padding-right: 20px;
        /* border: solid; */
        
    }


    .hero .background-logo{
        width: 100%;
        text-align: center;
        background-image: url("");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }

    .background-logo h4{
        max-width: 100%;
        height: 102px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        flex-shrink: 0;
    }

    .background-logo p{
        max-width: 100%;
        height: 331px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        flex-shrink: 0;

    }

    .hero-image-one{
        display: none;
         
     }
     
     .hero-image-two{
        
    
        top: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 375px;
        z-index: 3;
        
     }

     .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 500px;
    
    }

    .decor-four{
       display: none;
    }

    .decor-five{
        width: 100px ;
        position: absolute;
        height: auto;
        right: 0px;
        top: 740px;
        z-index: 0;
    }
    /* .decor-five-mobile{
        background-image: url("assets/mobile-union.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 121.05px;
        height: 149.26px;
        left: 300.13px;
        top: 700px;
        z-index: 0;
  
    } */
    .subscribe-box{
        padding: 0px 20px;
     }

    .subscribe-section{
        margin-top: 400px;
        
    }

    .footer-text{
           
        line-height: 25px;
        /* margin-bottom: 25px; */
 
    }


}

@media only screen and (max-width: 460px) {
    .header{
        padding: 40px 0px 0px 0px;
    }

    .subscribe-box{
        border-radius: 0px 30px;
    }

    .decor-one {
      width: 50px ;
      height: 50px;
      left: -20px;
      top: 90px;

    }
    .decor-two{
        top: 100px;  
        right:0px;
    }

    .bottom-left{
        right:60px;
        top: 20px; 
     }
     
     .bottom-right{
        left:60px;
        top: 20px; 
     
     }
     
     
     .top-left{
        right:60px;
        bottom: 0px; 
     }
     
     .top-right{
        left:60px;
        bottom: 50px; 
     
     }

    .hero{
       
        margin-top: 0px;
        padding-left:20px;
        padding-right: 20px;
        /* border: solid; */
        
    }


    .hero .background-logo{
        width: 100%;
        text-align: center;
        background-image: url("");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0px !important;
        padding-right: 0px !important;
        
    }

    .background-logo h4{
        max-width: 100%;
        height: 102px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        flex-shrink: 0;
    }

    .background-logo p{
        max-width: 100%;
        height: 331px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        flex-shrink: 0;

    }

    .hero-image-one{
        display: none;
         
     }
     
     .hero-image-two{
        
    
        top: 570px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        height: auto;
        max-width: 100%;
        width: 375px;
        z-index: 3;
        
     }

     .decor-three{
        margin-left: 0;
        margin-right: 0;
        left: 30px;
        right: 0;
        top: 550px;
    
    }

    .decor-four{
       display: none;
    }

    .decor-five{
       display: none;
    }

    .subscribe-box{
        padding: 0px 20px;
     }

    .subscribe-section{
        margin-top: 450px;
        
    }

    .footer-text{
           
        line-height: 25px;
        /* margin-bottom: 25px; */
 
    }


}

@media only screen and (max-width:380px){
   
    .bottom-left{
        width:70px;
        height: 70px;
        right:80px;
        top: 40px; 
     }
     
     .bottom-right{
        width:70px;
        height: 70px;
        left:80px;
        top: 35px; 
     
     }
     
     
     .top-left{
        width:70px;
        height: 70px;
        right:80px;
        bottom: 40px; 
     }
     
     .top-right{
        width:50px;
        height: 50px;
        left:80px;
        bottom: 70px;    
     }
   
}

@media only screen and (max-width:320px){

    .subscribe-section{
        margin-top: 400px;
    }
   
    .bottom-left{
        width:70px;
        height: 70px;
        right:50px;
        top: 40px; 
     }
     
     .bottom-right{
        width:70px;
        height: 70px;
        left:50px;
        top: 35px; 
     
     }
     
     
     .top-left{
        width:70px;
        height: 70px;
        right:50px;
        bottom: 40px; 
     }
     
     .top-right{
        width:50px;
        height: 50px;
        left:50px;
        bottom: 70px;    
     }
   
}
  
  
  







